<section class="panelcontainer">
  <section class="panel todo">
    <h3>To-Do</h3>
    <ul>
      <% @todos.each do |task| %>
          <li>
            <section class="task">
              <a href="/<%= task.id %>"><%= task.title %></a><br>
            </section>
          </li>
      <% end %>
    </ul>

  </section>

  <section class="panel inprogress">
    <h3>In Progress</h3>
    <ul>
      <% @inprogresses.each do |task| %>
          <li>
            <section class="task">
              <a href="/<%= task.id %>"><%= task.title %></a><br>
            </section>
          </li>
      <% end %>
    </ul>
  </section>

  <section class="panel done">
    <h3>Done</h3>

    <ul>
      <% @doneds.each do |task| %>
          <li>
            <section class="task">
              <a href="/<%= task.id %>"><%= task.title %></a><br>
            </section>
          </li>
      <% end %>
    </ul>

  </section>
</section>